.portrait-container {
  background-image: url("../../../assets/images/Portrait.jpg");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-subtext {
  font-size: max(
    0.5px,
    0.04 * (var(--scaling-factor) - var(--scrollbar-width))
  );
  line-height: 1em;
}

.hero-text {
  font-size: max(
    0.5px,
    0.07 * (var(--scaling-factor) - var(--scrollbar-width))
  );
  line-height: 1em;
}

.hero-subtitle {
  font-size: max(
    0.5px,
    0.04 * (var(--scaling-factor) - var(--scrollbar-width))
  );
  line-height: 1em;
}
