@import "tailwindcss";

@font-face {
  font-family: "MarcellusSC-Regular";
  src: local("MarcellusSC-Regular"),
    url("./assets/fonts/MarcellusSC-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Marcellus-Regular";
  src: local("Marcellus-Regular"),
    url("./assets/fonts/Marcellus-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMonoNL-Regular";
  src: local("JetBrainsMonoNL-Regular"),
    url("./assets/fonts/JetBrainsMonoNL-Regular.ttf") format("truetype");
  font-display: swap;
}

@theme {
  --font-primary: "MarcellusSC-Regular", serif;
  --font-secondary: "Marcellus-Regular", serif;
  --font-navbar: "JetBrains Mono", serif;
  --color-primary: #fa1e4e;
  --color-secondary: #fdf8f3;
}

:root {
  --one-unit: 1cqw;
  --section-max-width: 9999px;
  --scrollbar-width: 15px;
  --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
}
